@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<style>
    .full {
        width: 100vw;
        height: 100vh;
    }

    iframe {
        width: 100%;
        height: 50%;
    }
</style>
<div class="full">
    <iframe src="http://agileconfig.xbaby.xyz:5001"></iframe>

    <iframe src="http://agileconfig.xbaby.xyz:5000/home/preview"></iframe>
</div>